@import url('config.css');

i {
    margin-right: 10px;
}
/* <--------------------- TEXT ---------------------> */

.center-text {
    
    position: absolute;
    top: 290px;
    left: 130px;
} 

.center-text h1 {
    font-size: 50px;
}

.colored-text {
    color: #3263eb;
}

.home {
    height: 60vh;
    width: 100%;
    background: url("assets/learning.png") no-repeat;
    background-size: 120vh;
    background-position: 95vh 12vh; 
}

h2{
    font-size: 30px;
    margin-bottom: 6px;
    color: #4070f4;
}


svg {
    margin-bottom: -10px;
}

.text{
    display: block;
    background-color: #0E2431;
    text-align: justify;
    padding: 40px 80px;
    margin-top: -90px;
}

.text p {
    color: #fff;
    margin-bottom: 3px;
    font-size: 18px;
}

.get-started {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.get-started a {
    border: 1px solid rgba(0,0,0, 0.4);
    border-radius: 10px;
    color: #fff;
    background-color: #173380;
    padding: 15px 50px;
}

.get-started a:hover {
    background-color: #0a297c;
    color: #fff;
    text-decoration: none;
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.171);
}

/* <--------------------- LINKS ---------------------> */

.hover-link::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #4070f4;
    transition: width .3s;
}

.hover-link:hover::after{
    width: 100%;
    transition: width .3s;
}

nav .logo a{
    font-weight: 500;
    font-size: 35px;
    color: #4070f4;
}

nav .logo a:hover{
    text-decoration: none;
}

nav{
    flex: 1;
    align-items: right; 
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    transition: all 0.4s ease;
}

nav .nav-content{
    height: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-content .logo {
    margin-left: -200px;
}

.nav-content .nav-links{
    display: flex;
}

.nav-content .nav-links li{
    list-style: none;
    margin: 0 8px;
}

 .nav-links li a{
    text-decoration: none;
    color: #0E2431;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 4px;
    transition: all 0.3s ease;
}

.nav-links li a:hover, .link:hover {
    color: #4070f4;
}

.nav-links {
    display: flex;
    text-align: right;
}
/* <--------------------- DROPDOWN MENU ---------------------> */

.link {
    background: none;
    border: none;
    text-decoration: none;
    color: #0E2431;
    font-size: 18px;
    cursor: pointer;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    left: 0;
    top: calc(100% + (-1rem));
    background-color: white;
    padding: .75rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    opacity: 0;
    pointer-events: none;
    transform: translateY(10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown.active > .link + .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.information-grid {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 1rem;
}

.dropdown-links {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.icons {
    text-decoration: none;
    color: #0E2431;
}

.icons:hover {
    text-decoration: none;
}

.github-icon:hover {
    color: #171515;
}

.twitter-icon:hover {
    color: #1DA1F2;
}

.instagram-icon:hover {
    color: #E1306C;
}

/* <--------------------- TODO LIST PAGE ---------------------> */



/* <--------------------- MEDIA QUERIES ---------------------> */
